html {
    font-family: 'Julius Sans One', sans-serif;
}

h1,h2 {
    font-size: 2em;
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.title {
    margin: auto;    
    display: inline;
    text-align: center;
}

.nav-bar {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 20px;

    border-bottom-size: 1px;
    border-bottom-color: #000000;
    border-bottom-style: solid;
}

.nav-bar-elem {
    font-size: 16pt;
}

.body {
    margin-left: 20%;
    margin-right: 20%;
}

.wrap {
    padding-left: 20%;
    padding-right: 20%;
}

.pageTitle {
    background-color: white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-color: #f2f2f2;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-radius: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16pt;
}

.grid-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.grid-icon {
  width: 95%;
  min-width: 50px;
  height: 95%;
  min-height: 50px;
  border: 1px solid #cdcdcd;
}

.content {
    background-color: #f2f2f2;
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: white;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    display: flex;
    flex-direction: row;

}

.albumArt {
    width: 220px;
    height: 220px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;

}

.albumReview {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;


}

.albumReviewTitle {
    padding-bottom: 0;
    margin-bottom: 0;
}

.albumReviewContent {

}
